form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem; /* spacing between form elements */
  max-width: 50rem;
  margin: 0 auto;
}

label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  display: block;
}

input,
textarea,
button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--grey-500);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--grey-900);
  color: var(--grey-100);

}

textarea {
  resize: vertical; /* allow vertical resizing */
  min-height: 100px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0056b3;
}