.schedule-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 62.5rem;
}

.schedule-table thead {
    display: none;
}

 .schedule-table, 
  .schedule-table tbody, 
  .schedule-table tr, 
  .schedule-table td {
    display: block;
    /* width: 100%; */
  }

    .schedule-table tr {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 4px;
  }

    .schedule-table td {
    /* text-align: center; */
    position: relative;
  }

  .schedule-table td::before {
    content: attr(data-label);
    left: 0;
    width: 50%;
    /* padding-left: 10px; */
    font-weight: bold;
    text-align: left;
  }



@media (min-width: 50rem) {
    .schedule-table thead {
        display: table-header-group;
        border-bottom: .125rem solid var(--red-primary)
    }

  .schedule-table {
    display: table;
    margin: 0 auto;
  }

  .schedule-table tbody {
    display: table-row-group;
    width: fit-content;
  }
  
  .schedule-table tr {
    display: table-row;
    border: none;
    margin-bottom: 0;
    padding: 0;
    width: fit-content;
  }
  .schedule-table td {
    display: table-cell;
    text-align: left;
    width: fit-content;
    
  }

  .schedule-table th, .schedule-table td {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--grey-600);
  }

  .schedule-table td::before {
    display: none;
  }
}

.boxscores {
    display: flex;

}

.red-bg {
    background-color: var(--red-primary);
}

.blue-bg {
    background-color: rgb(53, 53, 235);
}

.boxscore-total {
    font-weight: bold;
}

.boxscores div {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grey-600);

    @media (min-width: 800px) {
        width: 40px;

    }
}

.schedule-table .expanded-boxscore {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

.schedule-table tr:has(+ tr.expanded-boxscore) {
    border-bottom: none;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.schedule-table tr:has(+ tr.expanded-boxscore) td {
    border-bottom: none;
}