/* section styles */

.dark-bg-transparent {
    background-color: var(--dark-bg-transparent);
    backdrop-filter: blur(2px) grayscale(.5);
}

.section-spacing {
    padding: clamp(5rem, 5vw + 2rem, 8rem) 2rem;
}

.red-section {
    background-color: var(--red-primary);
}

.hero-section {
    padding-bottom: clamp(5rem, 5vw + 2rem, 8rem);
    display: grid;
    grid-template-areas: 'title'
                         'subtitle'
                         'image';
}

@media (min-width: 40rem) {
    .hero-section {
        grid-template-areas: 'image'
                             'title'
                             'subtitle';
    }
}


.hero-image {
    grid-area: image;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-title {
    grid-area: title;

}

.hero-subtitle {
    grid-area: subtitle;
}

.hero-title, .hero-subtitle {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.need-to-know-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.need-to-know-grid a {
    display: flex;

}

.need-to-know-article {
    width: 100%;
    max-width: 18.5rem;
    background-color: var(--grey-900);
    padding: 1rem;
    /*  */
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.need-to-know-article:hover {
    background-color: var(--grey-800);
    transition: background-color 0.3s ease;
}

.need-to-know-article h3 {
    text-align: center;
}

.need-to-know-article p:first-of-type {
    flex-grow: 1;
}



.testimonial-block {
    background-color: var(--dark-bg-transparent);
    backdrop-filter: blur(2px) grayscale(.5);
    max-width: 54rem;
    margin: 0 auto;
    padding: 2rem 1rem;

    @media (min-width: 35rem) {
        padding: 4rem 4.5rem;
    }
}

.testimonial-block blockquote {
    margin-left: 0;
    margin-right: 0;
}


